{# templates/easy_admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}


{% block body_id 'easyadmin-dashboard' %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenue sur le tableau de bord d'administration</h1>
            <p>Ceci est une page personnalisée pour votre tableau de bord d'administration.</p>

            {# Ajoutez d'autres éléments personnalisés, statistiques, graphiques, etc. ici #}
        </div>
    </div>
{% endblock %}
